.orderinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}

.ordercheckout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
}

.dishes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.dishes section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ordercheckout article{
    text-align: center;
    padding: 1em 1.5em 0.5em 1.5em;
    border: 2px;
    border-style: solid;
    border-color: #bf3100;
    border-radius: 25px;
    margin-bottom: 2em;  
    width: 40%;
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: auto 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.order a{
    background-color: #bf3100;
    border: solid;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
}

.ordercheckout .orderResume{
    display: flex;
    flex-direction: column;
    gap:  2em;
    align-items: center;
}

.ordercheckout .orderResume *{
    width: fit-content;
}

.orderFilter{
    display: flex;
    margin: 3em 8em 3em 0;
}

.orderFilter > form > h4 {
    margin: 0 1em 0 1em;
}

.orderFilter button{
    margin-left: 1em;
}

.orderFilter > form{
    display: flex;
}

.orderFilter h4{
    margin: 0 1em 0 0;
    
}

.orderFilter h1{
    flex-grow: 1;
}

.orderFilter *{
    align-self: center;
}

#orders{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#orders li{
    text-align: center;
    padding: 1.5em;
    border: 2px;
    border-style: solid;
    border-color: #bf3100;
    border-radius: 25px;
    margin-bottom: 2em;
    width: 45%;
}

#orders .order section:nth-child(2){
    display: flex;
    justify-content: space-around;
}

.order h2{
    margin-top: 0;
}