input:focus{
    border-color: #f3a918;
    outline: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .orderFilter input:checked + .slider {
    background-color: #f3a918;
  }
  
 .orderFilter input:focus + .slider {
    box-shadow: 0 0 1px #f3a918;
  }
  
  .orderFilter input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .restaurantCategory input:checked + .slider {
    background-color: #f3a918;
  }
  
 .restaurantCategory input:focus + .slider {
    box-shadow: 0 0 1px #f3a918;
  }
  
  .restaurantCategory input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.hidden{
      opacity: 0;
      transition: 1s;
      visibility: hidden;
}

.visible{
    opacity: 1;
    transition: 1s;
    visibility: 1;
}

article img{
  height: auto;
  width: 100%;
}

.price .value::after{
  content: '$';
}

.price .value::before{
  content: "\00a0 ";
}

.price{
  display: flex;
  place-content: center;
  margin: 0;
}