
html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    display: grid;
    background-color: #F3a918;
    height: 6em;
    grid-template-columns: 5fr 3fr;
}
  
header, footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  
main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

header h3{
    cursor: pointer;
    margin: 0;
}

header img{
    width: 4em;
    height: 4em;
    padding-right: 1.5em;
    padding-left: 5em;
}

#logo{
    grid-column-start: 1;
    display: flex;
    align-items: center;
    flex-grow: 1;

}

#logo h3{
    width: 4em;
    text-align: center;
}

#menu{
    grid-column-start: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 6em;
}


h1{
    margin: 0;
    margin-left: 1.5em;
}

main > .login{
    border-style: solid;
    border-radius: 25px;
    width: 30em;
    display: grid;
    padding: 1.5em;
    grid-template-rows: 4em 4em 4em;
    grid-template-columns: 3fr 1fr;
    margin: auto;
    margin-top: 10em;
}

button, .restaurant a, .userdata a{
    background-color: #bf3100;
    border: solid;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
}

.login button{
    grid-row-start: 3;
    grid-column-start: 2;
}

input {
    height: 3em;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(183, 180, 174, 0.805);
    width: 30em;
}

main > .login label {
    font-size: larger;
}

main > .login label:nth-child(1) input{
    margin-left: 4.3em; 
}

main > .login label:nth-child(1){
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
}


main > .login label:nth-child(2) input{
    margin-left: 4.5em;
}

main > .login label:nth-child(2){
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;

}

main > .login label:nth-child(3){
    grid-row-start: 3;
    grid-column-start: 1;
    padding-top: 1em;
    padding-left: 2em;
    opacity: 70%;
}



main > .login h5{
    margin: 1em 0 0 3em;
}

footer{
    background-color: black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    min-width: 100%;
}
footer p{
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

main{
    padding: 0;
    margin: 0 4em 0 4em;
}

#bigLogo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-radius: 50%;
    padding: 2em 5em 2em 5em;
    border-width: 5px;
}

#bigLogo h2{
    width: 4em;
    text-align: center;
}

#bigLogo h2, #bigLogo h4{
    margin: 0;
    margin-top: 2px;
}

main > h1{
    margin: 1em;
}

main > h5{
    margin-left: 45em;
    margin-top: 1em;
}

h5 a{
    text-decoration: underline;
    color: red;
}

 #welcome{
     margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#search{
    padding-top: 4em;
    padding-right: 6em;
}

#search h1{
    margin-bottom: 2em;
}

.restaurantCategory{
    display: flex;
    margin: 3em 8em 3em 0;
}

.restaurantCategory h4{
    margin: 0 1em 0 0;
    
}

.restaurantCategory h1{
    flex-grow: 1;
}

.restaurantCategory *{
    align-self: center;
}

ul{
    list-style-type: none;
    padding: 0rem;
    margin-top: 0rem;
    margin-bottom: 0em;
}

#restaurants li{
    text-align: center;
    padding: 2em;
    border: 2px;
    border-style: solid;
    border-color: #bf3100;
    border-radius: 25px;
    margin-bottom: 2em;
}

.restaurant{
    display: grid;
    grid-template-rows: 1fr;
}

.restaurant #name{
    grid-column-start: 1;
    align-content: center;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.restaurant #name h3,h4,h5{
    margin: 0;
}

.restaurant #images{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 5em 0 5em;
}

.restaurant #images *{
    width: 240px;
    height: 170px;
}

.restaurant #buttons a{
    grid-column-start: 3;
    grid-column-end: 3;
}

.restaurant #buttons{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-around;
    grid-column-start: 3;
    grid-column-end: 3;
    height: auto;
}

.restaurant #buttons a{
    width: auto;
}

.payment{
    display: grid;
    grid-template-rows: 10em repeat(4,5em);
    grid-template-columns: 20em 10em 17em 5em;
    margin: 5em 5em 5em 15em;
}

.payment h2{
    grid-row-start: 1;
}

.payment input, .payment h3{
    grid-row-start: 2;
    margin: 0em;
    width: fit-content;
}

.payment h3:first-of-type{
    grid-column-start: 1;
}

.payment h3:nth-of-type(2){
    grid-column-start: 3;
}

.payment input:nth-of-type(1){
    grid-column-start: 2;
}

.payment input:nth-of-type(2){
    grid-column-start: 5;
}


.payment label:nth-of-type(1){
    grid-row-start: 3;
    grid-column-start: 1;
}

.payment li input{
    width: fit-content;
    margin: 0;
}

.payment label:nth-of-type(2){
    grid-row-start: 3;
    grid-column-start: 3;
}

.payment label:nth-of-type(3){
    grid-row-start: 4;
}

.payment label:nth-of-type(4){
    grid-row-start: 4;
    grid-column-start: 3;
}

.payment button{
    grid-row-start: 5;
    grid-column-start: 2;
}

.register {
    border-style: solid;
    border-radius: 25px;
    width: 30em;
    display: grid;
    padding: 1.5em;
    grid-template-rows: 4em 4em 4em 4em 4em;
    grid-template-columns: 3fr 1fr;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10em;
}

.register #option1, #option2{
    height: 13px;
    width: 13px;
}

.register input{
    height: 3em;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(183, 180, 174, 0.805);
    width: auto;
    padding-left: 1em;
}

.register input:nth-child(1){
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.register input:nth-child(2){
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.register input:nth-child(3){
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.register input:nth-child(4){
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.register input:nth-child(5){
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.register input#option1{
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: span 1;
}

.register input#option2{
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: span 1;
}

.register label{
    margin-left: 1.5em;
}

.register label:nth-of-type(1){
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: span 1;
}

.register label:nth-of-type(2){
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: span 1;
}

.register button{
    grid-row-start: 8;
    grid-column-start: 2;
    grid-column-end: span 1;
}

.userdata, .edituser{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    place-self: center;
    place-content: center;
    margin-top: 5em;
}

.userdata > *, .edituser > *:not(button){
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.userdata > h1, .userdata > h4:nth-of-type(5), .edituser h1, .edituser > label:nth-of-type(5){
    width: 100%;
}