body{
    margin: 0;
}
header{
    display: grid;
    background-color: #F3a918;
    height: 6em;
    grid-template-columns: 5fr 3fr;
}

img{
    width: 4em;
    height: 4em;
    padding-right: 1.5em;
    padding-left: 5em;
}

#logo{
    grid-column-start: 1;
    display: flex;
    align-items: center;
    flex-grow: 1;

}

#logo h3{
    width: 4em;
    text-align: center;
}

#menu{
    grid-column-start: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header #menu{
    margin-right: 6em;
}

h1{
    margin-left: 1.5em;
}

form{
    margin-left: 10em;
    margin-top: 10em;
    border-style: solid;
    border-radius: 25px;
    width: 20em;
    display: grid;
    grid-template-columns: 2fr, 3fr;
    grid-template-rows: 1fr, 1fr, 2fr;
    padding: 1.5em
}

form button{
    width: 8em;
    padding: 1em;
    border-style: solid;
    border-radius: 5px;
}